<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project_school.mapper.BoardMapper">
    <select id="boardList" resultType="com.example.project_school.model.Board">
        select * from board
    </select>

    <insert id="boardCreate" parameterType="com.example.project_school.model.Board">
        insert into board values( NULL ,#{boardTitle},#{boardContent},#{boardWriter})
    </insert>

    <update id="boardUpdate" parameterType="com.example.project_school.model.Board">
        update board
        set boardTitle=#{boardTitle}, boardContent=#{boardContent}
        where boardNo=#{boardNo}
    </update>

    <delete id="boardRemove" parameterType="int">
        delete from board where boardNo=#{boardNo}
    </delete>
</mapper>